<%- include('header') %>
<div class="container mt-5">
    <% if (typeof errorMessage !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>

    <% if (typeof successMessage !== 'undefined') { %>
        <div class="alert alert-success" role="alert">
            <%= successMessage %>
        </div>
    <% } %>

    <div class="text-center mb-5">
        <h2><%= language === 'russian' ? 'Создать новый элемент' : 'Create New Item' %></h2>
        <form action="/admin/items" method="POST">
            <div class="form-group">
                <label for="nameEn"><%= language === 'russian' ? 'Название (английский):' : 'Name (English):' %></label>
                <input type="text" class="form-control" id="nameEn" name="nameEn" required>
            </div>
            <div class="form-group">
                <label for="nameRus"><%= language === 'russian' ? 'Название (русский):' : 'Name (Russian):' %></label>
                <input type="text" class="form-control" id="nameRus" name="nameRus" required>
            </div>
            <div class="form-group">
                <label for="descriptionEn"><%= language === 'russian' ? 'Описание (английский):' : 'Description (English):' %></label>
                <textarea class="form-control" id="descriptionEn" name="descriptionEn" required></textarea>
            </div>
            <div class="form-group">
                <label for="descriptionRus"><%= language === 'russian' ? 'Описание (русский):' : 'Description (Russian):' %></label>
                <textarea class="form-control" id="descriptionRus" name="descriptionRus" required></textarea>
            </div>
            <div class="form-group">
                <label for="imageURL"><%= language === 'russian' ? 'URL изображения:' : 'Image URL:' %></label>
                <input type="text" class="form-control" id="imageURL" name="imageURL" required>
            </div>
            <button type="submit" class="buton"><%= language === 'russian' ? 'Создать элемент' : 'Create Item' %></button>
        </form>
    </div>

    <div class="mb-5">
        <h2><%= language === 'russian' ? 'Элементы' : 'Items' %></h2>
        <div class="row">
            <% items.forEach(item => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="<%= item.imageURL %>" alt="Item Image">
                        <div class="card-body">
                            <form action="/admin/items/<%= item._id %>" method="POST"> <!-- Changed action URL -->
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group">
                                    <label for="nameEn"><%= language === 'russian' ? 'Название (английский):' : 'Name (English):' %></label> <!-- Updated label -->
                                    <input type="text" class="form-control" id="nameEn" name="nameEn" value="<%= item.nameEn %>" required> <!-- Updated name attribute and value -->
                                </div>
                                <div class="form-group">
                                    <label for="nameRus"><%= language === 'russian' ? 'Название (русский):' : 'Name (Russian):' %></label> <!-- Added label -->
                                    <input type="text" class="form-control" id="nameRus" name="nameRus" value="<%= item.nameRus %>" required> <!-- Added name attribute and value -->
                                </div>
                                <div class="form-group">
                                    <label for="descriptionEn"><%= language === 'russian' ? 'Описание (английский):' : 'Description (English):' %></label>
                                    <textarea class="form-control" id="descriptionEn" name="descriptionEn" required><%= item.descriptionEn %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="descriptionRus"><%= language === 'russian' ? 'Описание (русский):' : 'Description (Russian):' %></label>
                                    <textarea class="form-control" id="descriptionRus" name="descriptionRus" required><%= item.descriptionRus %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="imageURL"><%= language === 'russian' ? 'URL изображения:' : 'Image URL:' %></label>
                                    <input type="text" class="form-control" id="imageURL" name="imageURL" value="<%= item.imageURL %>" required>
                                </div>
                                <button type="submit" class="btn btn-primary"><%= language === 'russian' ? 'Обновить' : 'Update' %></button>
                            </form>
                            <form action="/admin/items/<%= item._id %>/?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger mt-2"><%= language === 'russian' ? 'Удалить' : 'Delete' %></button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="text-center mt-5">
        <h2><%= language === 'russian' ? 'Создать нового пользователя' : 'Create New User' %></h2>
        <form action="/admin" method="POST" class="create-form">
            <div class="form-group">
                <label for="username"><%= language === 'russian' ? 'Имя пользователя:' : 'Username:' %></label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password"><%= language === 'russian' ? 'Пароль:' : 'Password:' %></label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
                <label for="password"><%= language === 'russian' ? 'Подтвердить пароль:' : 'Confirm Password:' %></label>
                <input type="password" class="form-control" name="password2" required>
            </div>
            <div class="form-group">
                <label for="isAdmin"><%= language === 'russian' ? 'Является администратором:' : 'Is Admin:' %></label>
                <input type="checkbox" id="isAdmin" name="isAdmin">
            </div>
            <button class="buton" type="submit"><%= language === 'russian' ? 'Создать пользователя' : 'Create User' %></button>
        </form>
    </div>

    <!-- Table to display users -->
    <div class="table-responsive">
        <table class="table user-table">
            <thead>
            <tr>
                <th><%= language === 'russian' ? 'Имя пользователя' : 'Username' %></th>
                <th><%= language === 'russian' ? 'Администратор' : 'Is Admin' %></th>
                <th><%= language === 'russian' ? 'Действия' : 'Actions' %></th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.isAdmin ? (language === 'russian' ? 'Да' : 'Yes') : (language === 'russian' ? 'Нет' : 'No') %></td>
                    <td>
                        <form action="/admin/<%= user._id %>?_method=PUT" method="POST" class="update-form">
                            <div class="form-group">
                                <label for="newUsername"><%= language === 'russian' ? 'Новое имя пользователя:' : 'New Username:' %></label>
                                <input type="text" class="form-control" id="newUsername" name="newUsername" value="<%= user.username %>" required>
                            </div>
                            <div class="form-group">
                                <label for="password"><%= language === 'russian' ? 'Новый пароль:' : 'New Password:' %></label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="isAdmin"><%= language === 'russian' ? 'Является администратором:' : 'Is Admin:' %></label>
                                <input type="checkbox" id="isAdmin" name="isAdmin" <% if (user.isAdmin) { %>checked<% } %>>
                            </div>
                            <button class="buton" type="submit"><%= language === 'russian' ? 'Обновить' : 'Update' %></button>
                        </form>
                        <form action="/admin/<%= user._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="buton" type="submit"><%= language === 'russian' ? 'Удалить' : 'Delete' %></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('footer') %>
