<%- include('header') %>

<form class="game_form" action="/game" method="POST">
    <input type="text" id="game_search" name="search" placeholder="<%= language === 'russian' ? 'Поиск игр' : 'Search games' %>">
    <button type="submit"><%= language === 'russian' ? 'Поиск' : 'Search' %></button>
</form>

<div class="game-cards">
    <% if (gameData) { %>
        <% gameData.forEach(game => { %>
            <div class="card">
                <img src="<%= game.imageUrl %>" alt="<%= game.title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= game.title %></h5>
                    <p class="card-text"><%= language === 'russian' ? 'Платформа' : 'Platform' %>: <%= game.platform %></p>
                    <p class="card-text"><%= language === 'russian' ? 'Дата выхода' : 'Release Date' %>: <%= game.releaseDate ? game.releaseDate.toDateString() : 'N/A' %></p>
                    <p class="card-text"><%= language === 'russian' ? 'Жанры' : 'Genres' %>: <%= game.genres.join(', ') %></p>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>

<%- include('footer') %>
