<%- include('header') %>
<div class="center">
    <h1><%= language === 'russian' ? "Лучшие игры за все время" : "The best games of all time" %></h1>

    <div id="itemsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <% items.forEach((item, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <h2><%= language === 'russian' ? item.nameRus : item.nameEn %></h2>
                    <img src="<%= item.imageURL %>" class="d-block w-100" alt="Item Image">
                    <!-- Display the appropriate description based on selected language -->
                    <p><%= language === 'russian' ? item.descriptionRus : item.descriptionEn %></p>
                </div>
            <% }) %>
        </div>
        <a class="carousel-control-prev" href="#itemsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#itemsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<%- include('footer') %>